
.wz-ui-header{
  background: #262B30;
  border-bottom: 4px solid #101112;
  box-shadow: none;
}

.wz-ui-header .app-title{
  width: 150px;
  float: left;
  height: 14px;
  padding: 13px 15px;
  font-size: 14px;
  color: #eaeaea;
}

.wz-ui-header nav{
  float: left;
}

.wz-ui-header .tab{
  height: 14px;
  width: 100px;
  float: left;
  display: inline-block;
  font-size: 14px;
  color: #aaa;
  font-family: Lato;
  padding: 13px 15px 13px 14px;
  border-right: 1px solid #101112;
}

.wz-ui-header .tab.active{
  background: #101112;
  box-shadow: 0 4px #7ebe30;
  color: #fff;
}

.CodeMirror{
  height: ~"calc(100% - 44px)" !important;
  font-family: Menlo, Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace !important;
  line-height: 1.5;
}

.CodeMirror *{
  font-family: inherit;
  cursor: inherit;
}

.CodeMirror pre, .CodeMirror-linenumber{
  font-size: 14px !important;
}

.CodeMirror-linenumber{
  padding-right: 10px !important;
}

.CodeMirror-gutters{
  padding-right: 10px;
}

.CodeMirror-simplescroll-vertical, .CodeMirror-simplescroll-horizontal, .CodeMirror-scrollbar-filler{
  background-color: #202121 !important;
}

.CodeMirror-simplescroll-vertical div, .CodeMirror-simplescroll-horizontal div{
  background-color: #3D3E3E !important;
  border-color: #3D3E3E !important;
  border-radius: 10px !important;
}
