.CodeMirror{
  height: ~"calc(100% - 44px)" !important;
  font-family: Menlo, Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace !important;
  line-height: 1.5;
}

.CodeMirror *{
  font-family: inherit;
  cursor: inherit;
}

.CodeMirror pre, .CodeMirror-linenumber{
  font-size: 14px !important;
}

.CodeMirror-linenumber{
  padding-right: 10px !important;
}

.CodeMirror-gutters{
  padding-right: 10px;
}

.CodeMirror-simplescroll-vertical, .CodeMirror-simplescroll-horizontal, .CodeMirror-scrollbar-filler{
  background-color: #202121 !important;
}

.CodeMirror-simplescroll-vertical div, .CodeMirror-simplescroll-horizontal div{
  background-color: #3D3E3E !important;
  border-color: #3D3E3E !important;
  border-radius: 10px !important;
}
