<section class="wz-ui-header dark wz-dragger wz-fit-x-ignore">

  <section class="app-title wz-dragger">Code Editor</section>

  <nav class="wz-dragger">
    <li class="tab active">Tab 1</li>
    <li class="tab">Tab 2</li>
    <li class="tab">Tab 3</li>
  </nav>

  <section class="wz-dragger wz-view-menu-group right">
    <figure class="wz-view-minimize">
      <i></i>
    </figure>
    <figure class="wz-view-maximize">
      <i></i>
    </figure>
    <figure class="wz-view-close">
      <i></i>
    </figure>
  </section>

</section>

<textarea id="code" name="code">
</textarea>
