<section class="wz-ui-header dark wz-dragger wz-fit-x-ignore">

  <section class="app-title wz-dragger">Write a file name</section>

  <section class="wz-dragger wz-view-menu-group right">
    <figure class="wz-view-minimize">
      <i></i>
    </figure>
    <figure class="wz-view-maximize">
      <i></i>
    </figure>
    <figure class="wz-view-close">
      <i></i>
    </figure>
  </section>

</section>

<section class="change-name-panel">
    <input type="text" name="file-name" class="file-name" value="">
    <input type="button" class="cancel-file-name ui-btn cancel left" value="Cancel">
    <input type="button" class="accept-file-name ui-btn accept right" value="Accept">
</section>
